$colors: (
        primary: rgb(58, 58, 58),
        secondary:#353b48,
        danger:#c23616,
        light:#f5f6fa,
        white: #fff
);

$fonts: (
        title: 'Work Sans',
        content :'Montserrat'
);

@function theme-color($key) {
  @return map-get($colors, $key)
}

@function theme-font($key) {
  @return map-get($fonts, $key)
}


$bg-primary: #060f2b;
$bg-secondary: #040c23;
$bg-light: rgba(255, 255, 255, 0.27);
$light: #518afe;
$normal: 400;
$small: 1.25rem;
$large: 1.8rem;
$extra-small: 1rem;
$white: rgba(255, 255, 255);
$ghost: rgba(248, 248, 255, 0.2);


.list {
  list-style: none;

  & li {
    display: flex;
    align-items: center;
    color: $white;

  }

}


.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.white {
  color: $white !important;
}

.w-100 {
  width: 100% !important;
}

img {
  width: 100%;
}

.m-0 {
  margin: 0 !important;
}

.sub-title {
  color: $light;
  text-transform: uppercase;
  font-weight: $normal;
  font-size: $extra-small;
  margin: 1rem 0;
}


.kpi-title {
  color: $light;
  text-transform: uppercase;
  font-weight: $normal;
  font-size: $extra-small;
}

.title {
  color: $white;
  font-size: $large;
  margin: 1rem 0;
}

.btn {
  text-align: center;
  background: $light;
  border: 1px solid $ghost;
  color: $white;
  padding: 6px 12px;
  border-radius: 5px;
  margin: 1rem 0;
}

.btn-outline {
  padding: 12px 24px;
  border-color: $ghost;
  background: $bg-light;
  color: $white;
  z-index: 999;


  &-primary {
    padding: 12px 24px;
    margin-left: 2rem;
  }
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}