{% extends 'base.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('event') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('event') }}
{% endblock %}

{% block body %}
    <h1>Edit Event</h1>
{% endblock %}
