{% extends 'base.html.twig' %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block body %}

    <div class="homePage">
        <div class="container">
            <h1>Index</h1>
        </div>

    </div>

{% endblock %}
