@import "base/theme";

@import 'src/layout/footer';
@import 'src/layout/header';

@import "src/main/index";

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: theme-font('title');
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {

  flex: 1;


  h1 {
    color: theme-color('primary');
  }
}

.networkBox {
  i {
    color: theme-color(white);
    margin-right: 1rem;
    font-size: 22Px;
  }
}

.iconeBox {
  display: flex;
  align-items: center;

  i {
    margin-right: 1rem;
    color: theme-color('primary');
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  transform: scale(1.1);
}


//OO css

.w-50 {
  width: 48% !important;
}

a {
  text-decoration: none;
}

.btn {
  padding: 12px 32px;
  text-decoration: none;
  background: inherit;
  border: 1px solid theme-color('primary');
  outline: none;

  &-primary {

    border: 1Px solid theme-color('primary');
    border-radius: 12px;

    a {
      color: theme-color('primary');
    }
  }
}

.notification {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background: black;
  box-shadow: 0px 0px 0px 10px black;
  color: theme-color(white);
}