@import "../../base/theme";

.login {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $bg-primary;

  &-wp {
    background: $bg-secondary;
    padding: 4rem;
    width: 40vw;
    color: $white;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid $ghost;

    & .form {
      &-wp {

        display: flex;
        flex-direction: column;

        .form-item {
          margin: 1rem 0;
          color: $white;
          display: flex;
          flex-direction: column;

          input {
            margin-top: 1rem;
            border-radius: 5px;
            background: $bg-light;
            border: 1px solid $ghost;
            padding: 12px 6px;
            outline: none;
            color: $white;
          }
        }
      }
    }
  }
}